@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chaos組牌器</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        * {
            /*border: 1px solid black*/
            font-family:'微軟正黑體'
        }

        .img-preview img {
            width: 100%
        }
        .card-list{
            height:80vh;
            overflow-y:scroll;
        }
        .deck-area {
            position: relative;
            height: 70vh;
        }
        .main-area-card-img, .extra-area-card-img {
            width: 9%;
            display: inline-block;
        }
        .main-area-card-img > img, .extra-area-card-img > img {
            max-width: 100%
        }
        .extra-deck-area{
            position:absolute;
            bottom:10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="img-preview pt-3">
                    <img src="~/Images/2angel1.0/10001.jpg" alt="" />
                </div>
                <div class="detail-card-info">
                    <div id="detail-card-name" class="text-center">卡片名稱</div>
                    <table class="table">
                        <tr><td>屬性</td><td>火</td><td>種類</td><td>Set</td></tr>
                        <tr><td>攻擊</td><td>4</td><td>耐久</td><td>3</td></tr>
                        <tr>
                            <td class="value effects" colspan="4">
                                我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，我是效果文阿兄弟，
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-7">
                <div class="player-operate-area my-4">
                    <div class="form-group">
                        <label for="ddl-desk">選擇牌組：</label>
                        <select id="ddl-desk">
                            <option value="deck1">牌組1</option>
                            <option value="deck1">牌組2</option>
                            <option value="deck1">牌組3</option>
                        </select>
                        <input type="button" value="刪除" class="btn btn-dark" />
                    </div>
                    <div class="form-group">
                        <label for="txt-desk">新建牌組：</label>
                        <input type="text" id="txt-desk"/>
                        <input type="button" value="新增" class="btn btn-dark" />
                        <input type="button" value="輸出" class="btn btn-dark" />
                        <input type="button" value="輸入" class="btn btn-dark" />
                    </div>
                </div>
                <div class="deck-area">
                    <div class="main-deck-area">
                        <h4 class="text-center">Main Deck</h4>
                        <div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10002.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10004.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10009.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10010.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10015.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10017.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10002.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10004.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10009.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10010.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10015.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10017.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10002.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10004.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10009.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10010.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10015.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10017.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10002.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10004.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10009.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10010.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10015.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10017.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10002.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10004.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10009.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10010.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10015.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10017.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="main-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="extra-deck-area">
                        <h4 class="text-center">Extra Deck</h4>
                        <div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10002.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10004.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10009.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10010.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10015.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10017.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                            <div class="extra-area-card-img">
                                <img src="~/Images/2angel1.0/10020.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group pt-3">
                    <label for="card-search"><input type="text" class="form-control" id="card-search" placeholder="請輸入關鍵字"></label>
                </div>
                <div class="card-search-area">
                    <div class="card-list">
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10002.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10003.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10004.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10005.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10006.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10007.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10008.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10009.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="search-img mt-2 mr-2">
                            <img src="~/Images/2angel1.0/10010.jpg" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
</body>
</html>
